@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Cabin);

html, body
{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body
{
	font-family: 'Cabin', sans-serif;
	letter-spacing: 0.23mm;
}

.glass
{
	position: fixed;
	width: 100%;
	height: 60px;
	display: block;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 80;
}

.blur-container
{
	width: 100%;
	height: 60px;
	display: block;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #ffffff;
	z-index: 2000;
}

.blur-content
{
	-webkit-filter: blur(20px);
	-moz-filter: blur(20px);
	-o-filter: blur(20px);
	-ms-filter: blur(20px);
	filter: blur(20px);
	filter: url(blur.svg#blur);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='20');
}

.content-container
{
	position: absolute;
	min-width:100%;
	min-height:100%;
}

.blur-container.menu
{
	background-color: rgba(40, 40, 40, 1);
}

.blur-container.menu .glass
{
	background-color: rgba(40, 40, 40, .5);
}

.main-nav
{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2000;
	width: 100%;
	height: 60px;
}

.main-nav ul
{
	display: table;
	max-width: 800px;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0 auto;
	list-style: none;
}

.main-nav li
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 16px;
	color: rgba(255, 255, 255, .9);
	text-shadow: rgba(0, 0, 0, 0.8) 0 1px;
	cursor: pointer;
}

.animate-heading
{
	z-index: 10;
	animation: inout 3s;
	animation-iteration-count: infinite;
	-webkit-animation: inout 3s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation: inout 3s;
	-moz-animation-iteration-count: infinite;
	-o-animation: inout 3s;
	-o-animation-iteration-count: infinite;
	-ms-animation: inout 3s;
	-ms-animation-iteration-count: infinite;
	margin: auto;
}

@keyframes inout
{
	0% {transform: scale(0.5, 0.5);}
	100%{transform: scale(1, 1);}
}

@-webkit-keyframes inout
{
	0%{-webkit-transform: scale(0.5, 0.5);}
	100%{-webkit-transform: scale(1, 1);}
}

.main-logo
{
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;
	width: 230px;
	height: 230px;
	border-radius: 50%;
	margin-top: -115px;
	margin-left: -115px;
}

.logo
{
	position: fixed;
	top: 50%;
	left: 50%;
	background: inherit;
	box-shadow: 0 30px 70px rgba(0,0,0,.5);
	overflow: hidden;
	z-index: 1000;
	width: 230px;
	height: 230px;
	border-radius: 50%;
	margin-top: -115px;
	margin-left: -115px;
	overflow: hidden;
	background-color:rgba(220,220,220,1);
}

.logo .img
{
	background: url('../images/logo.png');
	background-size: 230%;
	background-position: 52%;
	opacity: 0.85;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 999;
}

.logo .glass
{
	top: 50%;
	left: 50%;
	width: 230px;
	height: 230px;
	border-radius: 50%;
	margin-top: -115px;
	margin-left: -115px;
}

.sectionPage
{
	position: absolute;
	top: 0;
	left: 0;
	overflow: auto;
}

.sectionPage .bg-img
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	background-image: none;
	background-position: center center;
	background-size: cover;
}

video { display: block; }

#home .bg-img
{
	z-index: -101;
	background-image: url('../images/bk.jpg');
}

#home #video_background
{
	position: absolute; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: url('../images/bk.jpg') no-repeat;
	background-size: cover;
}

.selectLanguage
{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3000;
	background-color: rgba(100, 100, 100, 1);
}

.selectLanguage .glass
{
	width: 100%;
	height: 100%;
	z-index: 3001;
	background-color: rgba(100, 100, 100, .5);
}

.selectLanguage ul
{
	position: absolute;
	z-index: 3002;
	display: table;
	top: 50%;
	left: 50%;
	height: 200px;
	width: 400px;
	margin: 0;
	margin-top: -50px;
	padding: 0;
	margin-left: -200px;
}

.selectLanguage ul li
{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

.selectLanguage ul li img
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0,0,0,.5);
}

.selectLanguage ul li .language_name
{
	color: #fff;
	text-shadow: #000 0 1px;
	font-size: 20px;
	padding-top: 25px;
}

.selectLanguage .title
{
	position: absolute;
	width: 400px;
	height: 40px;
	font-size: 24px;
	padding-bottom: 40px;
	border-bottom: 1px solid #fff;
	left: 50%;
	top: 50%;
	margin-top: -220px;
	margin-left: -200px;
	color: #fff;
	text-shadow: #000 0 1px;
	text-align: center;
	z-index: 3002;
}

.panel
{
	top: 0;
	left: -601px;
	width: 600px;
	height: 100%;
	z-index: 3000;
	background-color: rgba(40, 40, 40, 1);
}

.panel .glass
{
	width: 600px;
	height: 100%;
	z-index: 3001;
	background-color: rgba(40, 40, 40, .5);
}

.panel.right
{
	left: auto;
	right: -601px;
	border-right: none;
	border-left: 1px solid transparent;
}

.reset
{
	z-index: 2009;
	top: 0;
	left: 0;
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
}

.panel .main-panel
{
	top: 0;
	left: -601px;
	width: 600px;
	height: 100%;
	z-index: 3000;
	border-right: 1px solid transparent;
	position: fixed;
	color: #fff;
	text-shadow: #000 0 1px;
	z-index: 3004;
}

.panel.right .main-panel
{
	left: auto;
	right: -601px;
	border-right: none;
	border-left: 1px solid transparent;
}

.panel a { color: #fff; text-decoration: none; }